@theme inline {
  --color-light-blue: #007bff;
  --color-dark-blue: #000080;
  --color-light-green: #00ff00;
  --color-dark-green: #008000;
  --color-light-red: #ff0000;
  --color-dark-red: #800000;
  --color-light-yellow: #ffff00;
  --color-dark-yellow: #808000;
  --color-light-purple: #800080;
  --color-dark-purple: #400040;
  --color-light-brown: #a52a2a;
}
